.g-button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fz-mini);
  color: var(--font-color);
  background-color: transparent;
  border: 1px solid var(--border-color) ;
  border-radius: var(--border-radius);
  padding: 0;
}

.g-form-button {
  height: 30px;
}

.g-button--fluid {
  width: 100%;
}